---
extends: default

rules:
  document-start: disable
  empty-lines: disable
  line-length: disable
  comments-indentation: disable
  trailing-spaces: disable
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no', 'on', 'off']
    check-keys: false
